    body {
        background-color: #F4F6F8;
    }
    
    #add-event {
        margin-top: 72px;
    }
    
    .add-form {
        margin-top: 104px;
        background: #FFFFFF;
        border: 1px solid #E8E8E8;
        box-sizing: border-box;
        border-radius: 4px;
    }
    
    .add-form #p1 {
        height: 22px;
        padding-top: 40px;
        font-family: "Helvetica";
        font-size: 20px;
        line-height: 23px;
        color: #5E5E5E;
    }
    
    .add-form hr {
        margin-top: 45px;
        border: 1px dashed #8A8A8A;
    }
    
    .add-form #l1,
    #l2,
    #l3,
    #l4,
    #l5,
    #l6,
    #l7,
    #l8,
    #l9,
    #l10 {
        padding-top: 35px;
        height: 17px;
        font-family: "Lato";
        line-height: 17px;
        color: #5E5E5E;
    }
    
    .add-form #i1,
    #i3,
    #i4,
    #i5,
    #i6,
    #i7,
    #i8,
    #i9,
    #i10 {
        height: 42px;
        margin-top: 12px;
        background: #FCFCFC;
        border: 1px solid #BDBDBD;
        border-radius: 4px;
        box-shadow: none;
    }
    
    .add-form #i2,
    #i11 {
        margin-top: 12px;
        background: #FCFCFC;
        font-family: "Lato";
        border: 1px solid #BDBDBD;
        border-radius: 4px;
        box-shadow: none;
    }
    
    .add-form #i2:focus,
    #i11:focus {
        margin-top: 12px;
        background: #FCFCFC;
        border: 1px solid #3c4caa;
        border-radius: 4px;
        box-shadow: none;
    }
    
    .add-form #i1:focus,
    #i2:focus,
    #i3:focus,
    #i4:focus,
    #i5:focus,
    #i6:focus,
    #i7:focus,
    #i8:focus,
    .custom-control-input:focus,
    .i10:focus {
        margin-top: 12px;
        background: #FCFCFC;
        font-family: "Lato";
        border: 1px solid #3c4caa;
        border-radius: 4px;
        box-shadow: none;
    }
    
    #pag {
        padding-top: 123px;
    }
    
    #pag #p1 {
        font-family: "Helvetica";
        font-size: 15px;
        color: #5E5E5E;
        text-decoration: none !important;
    }
    
    #pag a img {
        width: 27px;
        height: 27px;
    }
    
    #pag #p2 {
        padding-top: 46px;
        font-family: "Helvetica";
        font-size: 20px;
        color: #5E5E5E;
    }